* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #FAA08C;
    color: #03191E;
    overflow-x: hidden;
}

header {
    background-color: #8CE6FA;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

img {
    width: 4rem;
}

a {
    text-decoration: none;
    color: #03191E;
}

a:visited {
    color: #03191E;
}

a:active {
    color: white;
}

hr {
    margin-bottom: 1rem;
    border: 2px solid #03191E;
}

#app {
    height: 70%;
    width: 80%;
    margin: 0 auto;
}

#score {
    font-size: 1.5rem;
    text-align: left;
}

#time {
    font-size: 1.5rem;
    text-align: right;
}

button {
    font-family: inherit;
    color:#03191E;
    background-color: #8CE6FA;
    border: 2px solid black;
}

button:active {
    background-color: #7bcadb;
    border-color: #00d2ff;
    color: white;
}

#interface {
    height: 90%;
    width: 80%;
    margin: 0 auto;
}

#interface p {
    margin: 1rem 0;
}

#question {
    font-size: 6rem;
    text-align: center;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback p {
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem;
}

.feedback button {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
}

.input button {
    font-size: 4rem;
}

.screen {
    width: 100%;
    height: 90%;
}

.input {
    margin: 0 auto;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
}