<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Alphabet Challenge</title>
</head>
<body>
    <header>
        <h1><a href="index.html">Alphabet Challenge</a></h1>
        <hr>
    </header>
    <div id="app">
        <div id="interface">
            <div class="input" v-show="!gameEnd && newGame">
                <button id="startGameButton" @click="startGame('easy')">Easy</button>
                <button id="startGameButton" @click="startGame('hard')">Hard</button>
            </div>
            <div class="screen" v-show="!gameEnd && !newGame">
                <div id="stats">
                    <p id="score">Score: {{ score }}/26</p>
                    <!--<p id="time">Time: {{ time }}</p>-->
                </div>
                <p id="question">{{ questionRandomLetter }}</p>
                <div class="input">
                    <button id="option" v-for="(i, index) in options" :key="index" @click="checkAnswer($event)" :disabled="answered">{{ options[index] }}</button>
                </div>
                <div v-show="answered" id="response">
                    <div v-if="correct" class="feedback">
                        <p>That's right! 1 point!</p>
                        <button @click="getRandomLetters()">Next</button>
                    </div>
                    <div v-else class="feedback">
                        <p>Oh no!</p>
                        <p>Right answer: {{ questionRandomLetter.toUpperCase() }}</p>
                        <p>Your answer: {{ userAnswer }}</p>
                        <button @click="getRandomLetters()">Next</button>
                    </div>
                </div>
            </div>
            <div class="screen" v-show="gameEnd">
                <div class="feedback">
                    <p>Finished!</p>
                    <p>You got {{ score }}/26 points!</p>
                    <p>Try again?</p>
                </div>
                <div class="input">
                    <button id="startGameButton" @click="startGame('easy')">Easy</button>
                    <button id="startGameButton" @click="startGame('hard')">Hard</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    newGame: true,
                    gameEnd: false,
                    letters: '',
                    alphabet: 'abcdefghijklmnopqrstuvwxyz'.split(''),
                    questionRandomLetter: "",
                    score: 0,
                    startTime: null,
                    time: 0,
                    mode: '',
                    options: [],
                    answered: false,
                    userAnswer: '',
                    correct: false
                }
            },
            methods: {
                startGame(difficulty) {
                    this.newGame = false;
                    this.gameEnd = false;
                    this.letters = 'abcdefghijklmnopqrstuvwxyz'.split('');
                    this.mode = difficulty;
                    this.score = 0;
                    //this.startTime = Date.now();
                    /*setInterval(() => {
                    this.time = Math.floor((Date.now() - this.startTime) / 1000); // Calculate elapsed time in seconds
                    }, 1000);*/
                    this.getRandomLetters();
                },
                getRandomLetters() {
                    if (this.mode == 'easy') {
                        this.options = ['', ''];
                    }
                    else if (this.mode == 'hard') {
                        this.options = ['', '', '', ''];
                    }
                    this.answered = false;
                    if (this.letters.length == 0){
                        this.gameEnd = true;
                        this.newGame = true;
                    }
                    else {
                        const randomIndex = Math.floor(Math.random() * (this.letters.length));
                        this.questionRandomLetter = this.letters[randomIndex];
                        const correctButton = Math.floor(Math.random() * this.options.length);
                        this.options[correctButton] = this.questionRandomLetter.toUpperCase();
                        for (let i = 0; i < this.options.length; i++) {
                            if (i == correctButton){
                                continue;
                            }
                            else {
                                let randomLetter = this.alphabet[Math.floor(Math.random() * (this.alphabet.length))].toUpperCase();
                                while (this.options.includes(randomLetter)) {
                                    randomLetter = this.alphabet[Math.floor(Math.random() * (this.alphabet.length))].toUpperCase();
                                }
                                this.options[i] = randomLetter;
                            }
                        }
                    }
                },
                checkAnswer(event) {
                    this.userAnswer = event.target.innerText;
                    if (this.userAnswer === this.questionRandomLetter.toUpperCase()) {
                        this.score++;
                        this.answered = true;
                        this.correct = true;
                    }
                    else {
                        this.answered = true;
                        this.correct = false;
                    }
                    this.letters.splice(this.letters.indexOf(this.questionRandomLetter), 1);
                },

            }
        })

    app.mount('#app');
    </script>
</body>
</html>